<!DOCTYPE html>

<html>

<head>  <!--l'href sta comincia con ./ perchè gli hai detto che le risorse statiche stanno dentro public (quindi parte da li) -->
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/app.js"></script>
</head>

<body>

    {{>header}}

    <p>Content of help page</p>

    {{>footer}}

</body>

</html>